@charset "UTF-8";
@keyframes floatBallon {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-15px);}
    100% {transform: translateY(0px);}
} @keyframes floatBallonReverse {
    0% {transform: translateY(0px);}
    50% {transform: translateY(15px);}
    100% {transform: translateY(0px);}
}


*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{text-decoration: none;}

body {
    overflow: hidden;
    background-color: #c9c9c9;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #7B0D1E,
        #3f030c
    );
    left: -80px;
    top: -80px;
    animation: floatBallon 2s   infinite  ;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #cc0000,
        #720101
    );
    right: -30px;
    bottom: -80px;
    animation: floatBallonReverse 2s   infinite  ;
}
form{
    min-height: 550px;
    height: auto;
    width: 400px;
    /* background-color: rgba(43, 43, 43, 0.13); */
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(18, 18, 27, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    /* backdrop-filter: blur(10px); */
    /* border: 2px solid rgba(43, 43, 43, 0.1); */
    /* box-shadow: 0 0 40px rgba(8,7,16,0.6); */
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #ffffff;
}
input[type=submit]{
    position: relative;
    top: -50px;
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: -25px;
  display: flex;
  align-items: center;
  color: black;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(85, 85, 85, 0.27);
  color: #ffffff;
  text-align: center;
}
.social div:hover{
  background-color: rgba(53, 53, 53, 0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}


#login-p {
    display: none;
}
#signup-p {
    display: inline-block;
}

.cfm-password {
    display: none;
} #sign-sub-btn {
    position: relative;
    top: -20px;
    display: none;
} #login-sub-btn {
    display: flex;
    position: absolute;
    margin-bottom: 0px;
    top: 150px;
}

#signup {
    display: none;
} #login {
    display: block;
}

#login-p {
    display: none;
}
#signup-p {
    display: inline-block;
}

.login-sign-box {
    text-align: center;
    margin-top: 20px;
} .login-sign-box span {
    color: #0D7A23;
    font-weight: bolder;
    cursor: pointer;
}