@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}
.visible {
    display: flex;
}

a {text-decoration: none;}

body {
    overflow: hidden;
    background-color: #c9c9c9;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border-color: #c9c9c9;
    margin: 10px 0px;
}


div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.box,
div.box-card {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .8s;
}


div.cards,
div.main-card,
div.box-card {
    background-color: rgb(31, 29, 29);
    width: 250px;
    height: 425px;
    border-radius: 15px;
    position: absolute;
    transition: all .8s;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.377);
    -moz-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.377);
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.377);
}

div.cards {
    width: 200px;
    height: 325px;
    transition: all .8s;
}

aside.banner {
    position: absolute;
    width: 280px;
    height: 75px;
    top: -0.05rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    background-image: url('https://i.pinimg.com/originals/98/bd/fb/98bdfb4ab7b2b39d9dd8c9387cc29c35.gif');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

div.profile {
    border: 1px solid black;
    border-radius: 50%;
    z-index: 10;
    width: 75px;
    height: 75px;
    margin-top: 10px;
    background-image: url('https://i.pinimg.com/564x/4e/12/6c/4e126c11e671154288dcc56ff6522331.jpg');
    background-position: center center;
    background-size: contain;
}

div.main-card {
    background-color: #F8F8F8;
    z-index: 10;
    width: 280px;
    min-height: 380px;
    height: auto;
    padding: 20px 10px 20px 0px;
}

.agaeri {
    display: flex;
    justify-content: center;
}

section.desc {
    margin: 7px 0px 0px 15px;
} section.desc p {
    font-size: 18px;
    line-height: 22px;
}

section.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
}

div.main-card span {
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1px;
    /* position: relative; */
    margin-bottom: 15px;
    margin-left: 15px;
} div.main-card span a {
    color: black;
} i {
    font-size: 17px;
}


div.cards1 {
    transition: all 1s;

    -moz-transform: rotate(335deg) translate(240px, -100px);
    -webkit-transform: rotate(335deg) translate(240px, -100px);
    -o-transform: rotate(335deg) translate(240px, -100px);
    -ms-transform: rotate(335deg) translate(240px, -100px);
    transform: rotate(335deg) translate(240px, -100px);

    background-image: url('https://i.pinimg.com/564x/07/db/72/07db72be54bdbb701a080a0040133632.jpg');
    background-position: center center;
    background-size: cover;
}

div.cards2 {
    transition: all 1s;

    -moz-transform: rotate(-335deg) translate(255px, 100px);
    -webkit-transform: rotate(-335deg) translate(255px, 100px);
    -o-transform: rotate(-335deg) translate(255px, 100px);
    -ms-transform: rotate(-335deg) translate(255px, 100px);
    transform: rotate(-335deg) translate(255px, 100px);

    background-image: url('https://picfiles.alphacoders.com/433/thumb-433970.jpg');
    background-position: center center;
    background-size: cover;
}

div.cards3 {
    transition: all 1s;

    -moz-transform: rotate(335deg) translate(-255px, 100px);
    -webkit-transform: rotate(335deg) translate(-255px, 100px);
    -o-transform: rotate(335deg) translate(-255px, 100px);
    -ms-transform: rotate(335deg) translate(-255px, 100px);
    transform: rotate(335deg) translate(-255px, 100px);

    background-image: url('https://img.elo7.com.br/product/zoom/2586574/big-poster-gamer-detroit-become-human-lo03-tamanho-90x60-cm-presente-geek.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

div.cards4 {
    transition: all 1s;

    -moz-transform: rotate(-335deg) translate(-225px, -100px);
    -webkit-transform: rotate(-335deg) translate(-225px, -100px);
    -o-transform: rotate(-335deg) translate(-225px, -100px);
    -ms-transform: rotate(-335deg) translate(-225px, -100px);
    transform: rotate(-335deg) translate(-225px, -100px);

    background-image: url('https://upload.wikimedia.org/wikipedia/pt/3/3e/Hitman_3_capa.png');
    background-size: cover;
    background-repeat: no-repeat;
}

aside.buttons button {
    padding: 7px;
    width: 40px;
    height: 40px;
    font-size: 23px;
    margin-right: 3px;
    background-color: transparent;
    border: 0px solid transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

aside.buttons button:active {
    scale: .9;
}

aside.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-right: 15px;
    align-items: center;
    width: 280px;
    gap: 7px;
}

#fav {
    border: 1px solid #FFCF00;
    border-radius: 50%;
}

#followCriadorButton,
#followBrazilispowerButton {
    border: 1px solid #7B0D1E;
    border-radius: 50%;
}

#likeCriadorButton,
#likeBrazilispowerButton {
    border: 1px solid #cc0000;
    border-radius: 50%;
}


section.social {
    margin: 15px 0px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

section.social ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

section.social svg {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


summary {
    margin-left: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    width: 110px;
    padding-left: 2px;
    list-style: none;
	border-bottom: 2px solid;
    cursor: pointer;
    filter: drop-shadow(10px 17px 15px #000000);
    
    &::-webkit-details-marker {
		display: none;
	}
    
} details div.alt-infos {
    margin: 0px 0px 0px 15px;
} div.alt-infos p {
    font-size: 17px;
    font-weight: bold;
}

div.alt-infos i {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 20px;
} div.alt-infos ul a {
    font-size: 19px;
    color: black;
    font-weight: bold;
} div.alt-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
} details[open] {
    transition: ease .5s;
}


div.pass-btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 35px;
    border: none;
    z-index: 20;
    height: 100vh;
} div.pass-btn button {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: 2px solid rgb(109, 0, 9);
    margin-bottom: 55px;
    cursor: pointer;
    background-color: #c9c9c9;
    font-size: 18px;
}


@media screen and (max-width: 1023px) and (min-width: 290px) {
    div.pass-btn button {
        margin-bottom: 55px;
    }
}

div.gangs > img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
} div.brazil > img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
} aside.brbanner > img {
    position: absolute;
    width: 280px;
    height: 75px;
    top: -0.05rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-image: url('https://cdn.discordapp.com/avatars/862423940080336987/d1d961ca888a8452baec5cc4b4d581ef.png');
    background-position: center center;
    background-size: cover;
} aside.ggbanner > img {
    position: absolute;
    width: 280px;
    height: 75px;
    top: -0.05rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-image: url('https://d2kf8ptlxcina8.cloudfront.net/AJ92CTCUJG-preview.png');
    background-position: center center;
    background-size: cover;
}


div.cards1brzl {
    transition: all 1s;

    -moz-transform: rotate(335deg) translate(240px, -100px);
    -webkit-transform: rotate(335deg) translate(240px, -100px);
    -o-transform: rotate(335deg) translate(240px, -100px);
    -ms-transform: rotate(335deg) translate(240px, -100px);
    transform: rotate(335deg) translate(240px, -100px);

    background-image: url('https://upload.wikimedia.org/wikipedia/pt/9/9c/Minecraft_capa.png');
    background-position: center center;
    background-size: cover;
}
div.cards2brzl {
    transition: all 1s;

    -moz-transform: rotate(-335deg) translate(255px, 100px);
    -webkit-transform: rotate(-335deg) translate(255px, 100px);
    -o-transform: rotate(-335deg) translate(255px, 100px);
    -ms-transform: rotate(-335deg) translate(255px, 100px);
    transform: rotate(-335deg) translate(255px, 100px);

    background-image: url('https://upload.wikimedia.org/wikipedia/pt/d/d3/Grand_Theft_Auto_San_Andreas_capa.png');
    background-position: center center;
    background-size: cover;
}
div.cards3brzl {
    transition: all 1s;

    -moz-transform: rotate(335deg) translate(-255px, 100px);
    -webkit-transform: rotate(335deg) translate(-255px, 100px);
    -o-transform: rotate(335deg) translate(-255px, 100px);
    -ms-transform: rotate(335deg) translate(-255px, 100px);
    transform: rotate(335deg) translate(-255px, 100px);

    background-image: url('https://i.pinimg.com/564x/49/8a/53/498a5371ef81debb18bc73da7dcb5403.jpg');
    background-position: center center;
    background-size: cover;
}
div.cards4brzl {
    transition: all 1s;

    -moz-transform: rotate(-335deg) translate(-225px, -100px);
    -webkit-transform: rotate(-335deg) translate(-225px, -100px);
    -o-transform: rotate(-335deg) translate(-225px, -100px);
    -ms-transform: rotate(-335deg) translate(-225px, -100px);
    transform: rotate(-335deg) translate(-225px, -100px);

    background-image: url('https://upload.wikimedia.org/wikipedia/pt/2/25/Half-Life_2_cover.jpg');
    background-position: center center;
    background-size: cover;
}


/*

div.cards1gangs {
    transition: all 1s;

    -moz-transform: rotate(335deg) translate(240px, -100px);
    -webkit-transform: rotate(335deg) translate(240px, -100px);
    -o-transform: rotate(335deg) translate(240px, -100px);
    -ms-transform: rotate(335deg) translate(240px, -100px);
    transform: rotate(335deg) translate(240px, -100px);

    background-image: url('https://upload.wikimedia.org/wikipedia/pt/9/9c/Minecraft_capa.png');
    background-position: center center;
    background-size: cover;
}
div.cards2gangs {
    transition: all 1s;

    -moz-transform: rotate(-335deg) translate(255px, 100px);
    -webkit-transform: rotate(-335deg) translate(255px, 100px);
    -o-transform: rotate(-335deg) translate(255px, 100px);
    -ms-transform: rotate(-335deg) translate(255px, 100px);
    transform: rotate(-335deg) translate(255px, 100px);

    background-image: url('https://upload.wikimedia.org/wikipedia/pt/8/80/Grand_Theft_Auto_V_capa.png');
    background-position: center center;
    background-size: cover;
}
div.cards3gangs {
    transition: all 1s;

    -moz-transform: rotate(335deg) translate(-255px, 100px);
    -webkit-transform: rotate(335deg) translate(-255px, 100px);
    -o-transform: rotate(335deg) translate(-255px, 100px);
    -ms-transform: rotate(335deg) translate(-255px, 100px);
    transform: rotate(335deg) translate(-255px, 100px);

    background-image: url('https://i.pinimg.com/564x/49/8a/53/498a5371ef81debb18bc73da7dcb5403.jpg');
    background-position: center center;
    background-size: cover;
}
div.cards4gangs {
    transition: all 1s;

    -moz-transform: rotate(-335deg) translate(-225px, -100px);
    -webkit-transform: rotate(-335deg) translate(-225px, -100px);
    -o-transform: rotate(-335deg) translate(-225px, -100px);
    -ms-transform: rotate(-335deg) translate(-225px, -100px);
    transform: rotate(-335deg) translate(-225px, -100px);

    background-image: url('https://upload.wikimedia.org/wikipedia/pt/a/aa/The_Elder_Scrolls_5_Skyrim_capa.png');
    background-position: center center;
    background-size: cover;
} */